# Object files
*.o
.*.swp
.*-stamp
.building
linux
linux-*
initramfs/bin
initramfs/etc/rpc
initramfs/etc/ssh
initramfs/etc/ssl
initramfs/lib
initramfs/linuxrc
initramfs/root
initramfs/sbin
initramfs/usr
initramfs/var
binutils-gdb
or1k-*
or1ksim
uClibc-or1k
tests/instances
